autopep8==1.6.0
bleach==5.0.0
boto3==1.21.23
botocore==1.24.46
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
clouday1-extract-aws-metadata==0.0.41
colorama==0.4.4
commonmark==0.9.1
docutils==0.15.2
Flask==2.1.1
Flask-Cors==3.0.10
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.0
keyring==23.5.0
MarkupSafe==2.1.1
pkginfo==1.8.2
pyasn1==0.4.8
pycodestyle==2.8.0
Pygments==2.11.2
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
PyYAML==5.4.1
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.2.0
rsa==4.7.2
s3transfer==0.5.2
six==1.16.0
toml==0.10.2
twine==4.0.0
urllib3==1.26.9
webencodings==0.5.1
Werkzeug==2.1.1
zipp==3.8.0
wheel==0.37.1