autopep8==1.6.0
bleach==5.0.0
boto3==1.21.23
botocore==1.24.23
certifi==2021.10.8
charset-normalizer==2.0.12
clouday1-extract-aws-metadata==0.0.1
commonmark==0.9.1
docutils==0.18.1
idna==3.3
importlib-metadata==4.11.3
jmespath==1.0.0
keyring==23.5.0
pkginfo==1.8.2
pycodestyle==2.8.0
Pygments==2.11.2
python-dateutil==2.8.2
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.2.0
s3transfer==0.5.2
six==1.16.0
toml==0.10.2
twine==4.0.0
urllib3==1.26.9
webencodings==0.5.1
zipp==3.8.0
